
@{
    ViewBag.Title = "New Contract";
}
<h2>New Contract</h2>
<form id="newContract">
    <div class="form-group" >
        <label>Actor</label>
        <input id="actor" name="actor" type="text" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Serie</label>
        <input id="serie" name="serie" type="text" value="" class="form-control" />
    </div>    
    <button class="btn btn-primary">Submit Contract</button>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="series" class="list-group"></ul>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        $(document).ready(function () {
            let viewModel = {
                serieIds: []
            };
            var actors = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/actors?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#actor').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'actors',
                    display: 'name',
                    source: actors
                }).on("typeahaead:select", function (e, actor) {
                    viewModel.actorId = actor.id;
                    console.log(actor.id);
                });

            //series
             var series = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/series?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
              $('#serie').typeahead({
                minLength: 3,
                highlight: true
            },
                {
                    name: 'series',
                    display: 'name',
                    source: series
                  }).on("typeahaead:select", function (e, serie) {
                      $("#series").append("<li class='list-group-item'>" + serie.name + "</li>");
                      $("#serie").typeahead("val", "");
                    viewModel.seriesIds.push(serie.id);
                  });

            //submit form
            $("#newContract").submit(function () {
                e.preventDefault();//instead of working like a regular form be an ajax form:

                $.ajax({
                    url: "/api/contracts",
                    method: "POST",
                    data: viewModel
                })
                    .done(function () {
                        console.log("Bravo mou");
                    })
                    .fail(function () {
                        console.log("Failure is not a virtue!");
                    });
            });
        });

    </script>
}

